[Unit]
Description=MQTT Devices
After=network.target

[Service]
ExecStart=/usr/bin/python3 web/manage.py runserver --noreload
WorkingDirectory={path}
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target